---
import Layout from '../layouts/Layout.astro';
import Topbar from '../components/Topbar.astro';
import Hero from '../components/Hero.astro';
import Work from '../components/Work.astro';
import Experience from '../components/Experience.astro';
import Content from '../components/Content.astro';
import Media from '../components/Media.astro';
import Bookshelf from '../components/Bookshelf.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
---

<Layout title="杨培俊 Peijun Yang">
  <Topbar />
  <div class="wrap">
    <Hero />
    <Work />
    <Experience />
    <Content />
    <Media />
    <Bookshelf />
    <Footer />
  </div>
</Layout>
