<div class="topbar"><div class="topbar-inner">
<span class="name"><span class="zh">杨培俊</span><span class="zht">楊培俊</span><span class="en">Peijun Yang</span></span>
<nav class="nav">
<a href="#work"><span class="zh">在做的事</span><span class="zht">在做的事</span><span class="en">Work</span></a>
<a href="#experience"><span class="zh">经历</span><span class="zht">經歷</span><span class="en">Experience</span></a>
<a href="#content"><span class="zh">内容创作</span><span class="zht">內容創作</span><span class="en">Writing</span></a>
<a href="#media"><span class="zh">播客&视频</span><span class="zht">播客&視頻</span><span class="en">Media</span></a>
<a href="#bookshelf"><span class="zh">我的书架</span><span class="zht">我的書架</span><span class="en">Bookshelf</span></a>
<span class="lang"><span id="langZhCN" class="on" onclick="setLang('zh-CN')">简</span><span id="langZhTW" class="off" onclick="setLang('zh-TW')">繁</span><span id="langEn" class="off" onclick="setLang('en')">EN</span></span>
</nav>
</div></div>
